@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html {
	font-size: 1em;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
	background-color: #D94C71;
	line-height: 1.3em;
	margin: 0;
}

.box {
	background-color: #E0DDDE;
  height: 700px;
	width: 60%;
  float: left;
	line-height: 1.2em;
  text-align: center;
	position: relative;
  border: pointed 3px;
	margin-left: 20%;
	margin-right: 20%;
  margin-bottom: 20px;
  padding: 1em;
	
}

h1 {
	font-size: 4em;
	line-height: 1em;
}

h2 {
	font-size:1em;
	line-height: 1em;
}

h3 {
	font-size:1.3em;
	line-height: 1em;
}

img {
	max-width: 30%;
}
