@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

html {
	font-size: 1em;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
	background-color: #D94C71;
	line-height: 1.3em;
	margin: 0;
}

.box {
	background-color: #E0DDDE;
  height: 770px;
	width: 50%;
  float: left;
  text-align: center;
	position: relative;
  border: dotted 5px;
	margin-left: 24%;
	margin-right: 20%;
  margin-top: 2%;
  margin-bottom: 3%;
padding-top:70px;
	
}

h1 {
	font-size: 3.5em;
	line-height: 1em;
}

h2 {
	font-size:1.5em;
	line-height: 0.8em;
}

h3 {
	font-size:1.4em;
	line-height:0.8em;
}

img {
	max-width: 30%;
}

a {
	text-decoration: none;
	color: #D94C71;
	letter-spacing: 0.4em;
	font-size:1.1em;
	margin-top:10px;
}
